.Rproj.user
.Rdata
.Rprofile
.Rbuildignore
*Compile_output*.txt
*Rcpp_Output*.txt
*Document_output*.txt
Github_commands.R
remove_test.R
Ignore
renv
Vignettes\spca_extended_vignette.bbl
Vignettes\spca_extended_vignette.log
Vignettes\spca_extended_vignette\spca_extended_vignette.synctex.gz
Vignettes\spca_extended_vignette.pdf
Vignettes\spca_extended_vignette.tex
Vignettes\spca_extended_vignette-concordance.tex
.Rhistory
.httr-oauth
.DS_Store
.quarto
*.o
*.so
*.dll
*.a
*.d
.lintr
*.RData
