.Rproj.user
.Rdata
.Rprofile
.Rbuildignore
*Compile_output*.txt
*Rcpp_Output*.txt
*Document_output*.txt
Github_commands.R
inst/Shiny
remove_test.R
Ignore
renv
R/remove
.Rhistory
.httr-oauth
.DS_Store
.quarto
*.o
*.so
*.dll
*.a
*.d
Image_26-05-16.RData
image_05_10.RData
